@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 33%;
    border: 2px solid black;
    border-radius: 10px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    

}

.nav-list{
    width: 70%;
    /* background-color: black; */
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
}

.nav-list li a:hover{
    color: grey;
}

.rightNav{
    /* background-color: blueviolet; */
    width: 30%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
    font-family: 'IBM Plex Mono', monospace;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../img/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
        height: 100vh ;
}

.box-main{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    flex-direction: column-reverse;
    max-width: 100%;
}

.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%;
    /* padding: 4px 0; */
    border: 4px solid white;
    border-radius: 50px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 45px;
    
}
.text-small{
    font-size: 20px;
}

.btn{
    padding: 8px 20px;
    margin: 8px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 95px;
}

.btn2{
    padding: 8px 20px;
    margin: 18px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: white;
    color: white;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 23.5px;
    width: 115px;
}


.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 16px;
}

.btn-dark{
    color: black;
    border:2px solid black;
    margin: 14px 0;

}

.section{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    
}

.sectionTag{
    padding: 16px 0;
}

.section-left{
   flex-direction: row-reverse;
}

.paras{
    padding: 0px 65px;
}

.thumbnail img{
    width: 320px;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 19px;
}

.contact{
    background-color: gray;
    height: 440px;
}

.text-center{
    text-align: center;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
.form{
    max-width: 62%;
    margin: 2px auto;
}
.form-input{
    width: 100%;
    padding: 5px 5px;
    font-size: 19px;
    border: 2px solid black;
    border-radius: 6px;
    margin: 8px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.krish{
    background-color: rgba(24, 23, 23, 0.068);
 font-size: 60px;
}

.er{
    font-size: 60px;
}

.er2{
    font-size: 35px;
}

.about-end{
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 60px;
   

}

.h{
    color: black;
    display: flex;
    align-items: center;
    font-size: 100px;
    flex-direction: column-reverse;
}

.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

.burger{
    display: none;
    position: absolute;
    content: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px;
}

.h0{
    display: flex;
    flex-direction: column-reverse;
    font-size: xx-large;
}


@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 447px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;

    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;}
    .paras{
            padding: 0px;}
        
    }
