@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
}

.submit{
    display: flex;
    flex-direction: column-reverse;
    font-size: 60px;
    align-items: center;
    color: white;
    padding: 55px;
    font-family: 'Oswald', sans-serif;
}

.sub{
    display: flex;
    flex-direction: column-reverse;
    font-size: 60px;
    align-items: center;
    color: white;
    padding: 6px;
    font-family: 'Oswald', sans-serif;
}

.body{
    background-color: grey;
}